{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{%static 'css/home.css'%}" />
    <link rel="stylesheet" href="{%static 'css/search.css'%}" />
  </head>

  <body>
    <nav class="navbar"></nav>
    <footer></footer>

    <script src="{%static 'js/nav.js'%}"></script>
    <script src="{%static 'js/footer.js'%}"></script>

    <section class="search-results">
      <h2 class="heading">search results for <span>product</span></h2>
    </section>
  </body>
</html>
